/* div#form {
    background-color: transparence;
    opacity: 0.25;
} */
.aside-menu{
    color: black;
}
.cadre {
    
    font-weight: bold;
    color:#ffffff;
   
}
 .myCols{
	text-align: center;
}