<!-- Navigation 

    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <div class="container">
          <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item active px-lg-4">
                <a class="nav-link text-uppercase text-expanded" [routerLink]="['/about']">About</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" [routerLink]="['/']">Blog</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" [routerLink]="['/']">Contact</a>
              </li>

              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a [routerLink]="['../loginCostumer']"><span class="glyphicon glyphicon-user"></span> se connecter</a>
                  </li>
                  <li>
                      <a [routerLink]="['../account']"><span class="glyphicon glyphicon-user"></span> creer un compte client</a>
                  </li>
              </ul>

            </ul>
          </div>
        </div>
      </nav>
   -->

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
           </button>
            <a class="navbar-brand" href="/">Rencontres Diversifiées</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a class="menuLink" href="/rencotre"><span class="fa fa-home fa-fw" aria-hidden="true"></span> Home</a>
                </li>
                <li><a class="menuLink" href="/member-registration"><span class="glyphicon glyphicon-tasks"></span> Register</a>
                </li>
                <li class="active"><a class="menuLink" href="/login-form"><span class="fa fa-user fa-fw"></span> Login Member</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-tasks"></span> About</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<hr>
<!--/.nav-collapse -->
<div class="row">

    <!-- <body class="col-sm-8 col-sm-offset-2"> -->

    <body class="col-lg-8">
        <!-- Page Content -->

        <div class="container ">
            <div class="cadre">
                <div class="col-md-6 col-md-offset-1 ">
                    <div class="tagline-upper text-center text-heading text-shadow text-yellow mt-5 d-none d-lg-block">Login</div>
                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pseudonym.valid }">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input type="text" class="form-control" name="pseudonym" (change)="Filter($event.target.value)" [(ngModel)]="model.pseudonym"
                                    #pseudonym="ngModel" placeholder="pseudo" required />
                                <div *ngIf="f.submitted && !pseudonym.valid" class="help-block">pseudonym is required</div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <!-- <label for="password">Password</label> -->
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder=" Password "
                                    required />
                                <div *ngIf="f.submitted && !password.valid" class="help-block">password is required</div>
                            </div>
                        </div>

                        <!-- showing only for meeting after giving pseudo -->
                        <span *ngIf="pseudonym.valid">
                                
                        <div class="form-group">
                            <label for="meetingName">Select the Meeting Name</label>
                            <select ng-model="meetingValue" class="form-control" name="meetingName" [(ngModel)]="model.meetingName" #meetingName="ngModel"
                                required>
                                                        <option [ngValue]="">
                                                        </option>
                                                        <option *ngFor="let currentMeeting of meetings" 
                                                            >{{currentMeeting.meetingName}}
                                                        </option>
                                                    </select>


                        </div>
                     </span>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Login</button>
                            <button [routerLink]="['/member-registration']" class="btn btn-primary">Register</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>

    </body>
    <div class="col-lg-4">
        <div class="tagline-upper text-center text-heading text-shadow mt-5 d-none ">HI</div>
        <div class="aside-menu">Merci pour votre fidélité sur notre site; pour vous connecter à un type de rencontre auquel vous y êtes déjà inscrit,
            il vous suffit de renseigner votre login, mot de passe et en fin de selectionner le type de rencontre
            <h4> passer un bon moment sur notre plateforme</h4>
        </div>
    </div>
</div>