<!-- Navigation 

    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <div class="container">
          <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item active px-lg-4">
                <a class="nav-link text-uppercase text-expanded" [routerLink]="['/about']">About</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" [routerLink]="['/']">Blog</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" [routerLink]="['/']">Contact</a>
              </li>

              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a [routerLink]="['../loginCostumer']"><span class="glyphicon glyphicon-user"></span> se connecter</a>
                  </li>
                  <li>
                      <a [routerLink]="['../account']"><span class="glyphicon glyphicon-user"></span> creer un compte client</a>
                  </li>
              </ul>

            </ul>
          </div>
        </div>
      </nav>
   -->

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
           </button>
                <a class="navbar-brand" href="/">Rencontres Diversifiées</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a class="menuLink" href="/rencotre"><span class="fa fa-home fa-fw" aria-hidden="true"></span> Home</a>
                    </li>
                    <li><a class="menuLink" href="/member-registration"><span class="glyphicon glyphicon-tasks"></span> Register</a>
                    </li>
                    <li class="active"><a class="menuLink" href="/login-form"><span class="fa fa-user fa-fw"></span> Login Member</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-tasks"></span> About</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!--/.nav-collapse -->

    <!-- Page Content -->

    <div class="container ">
        <div class="cadre">
            <div class="col-md-6 col-md-offset-1 ">
                <h2>Login</h2>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pseudonym.valid }">
                        <!-- <label for="pseudonym">Pseudo</label> -->
                        <!-- class="glyphicon glyphicon-tasks -->
                         <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span> 
                            <input type="text" class="form-control" name="pseudonym" (change)="Filter($event.target.value)" [(ngModel)]="model.pseudonym"
                                #pseudonym="ngModel" placeholder="pseudo" required />
                            <div *ngIf="f.submitted && !pseudonym.valid" class="help-block">pseudonym is required</div>
                         </div> 
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <!-- <label for="password">Password</label> -->
                         <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span> 
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder=" Password "
                                required />
                            <div *ngIf="f.submitted && !password.valid" class="help-block">passeword is required</div>
                         </div> 
                    </div>

                    <!-- showing only for meeting after giving pseudo -->
                    <span *ngIf="pseudonym.valid">
                                
                        <div class="form-group">
                            <label for="meetingName">Select the Meeting Name</label>
                            <select ng-model="meetingValue" class="form-control" name="meetingName" [(ngModel)]="model.meetingName" #meetingName="ngModel"
                                required>
                                                        <option [ngValue]="">
                                                        </option>
                                                        <option *ngFor="let currentMeeting of meetings" 
                                                            >{{currentMeeting.meetingName}}
                                                        </option>
                                                    </select>


                        </div>
                     </span>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Login</button>
                        <button [routerLink]="['/member-registration']" class="btn btn-primary">Register</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
    <!-- <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">
                <div class="form-group">
                    
                        <label for="pseudonym"  >Pseudo</label>
                        <div class="cols-lg-8">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="pseudonym" name="pseudonym" id="pseudonym" placeholder=" your login hier " />
                            </div>
                        </div>
                        
                          <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> 
                         <div class="alert" *ngIf="!clientForm.controls.pseudonym.valid && clientForm.controls.pseudonym.touched">{{titleAlert}}</div>
                         
                </div>
            
            <div class="form-group">
                <label for="password"  >PassWord</label>
                <div class="cols-lg-8">
                    <div class="input-group">
                        <input type="password" class="form-control" formControlName="password" name="password" id="password" placeholder=" " />
                    </div>
                </div>
            </div>
                <div>
                    <a [routerLink]="['../member-session']"> <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button> 
                    </a> -->

    <!-- <button type="submit" class="btn btn-primary">Submit<span [routerLink]="['/member-session']"></span></button> -->
    <!-- <a [routerLink]="['/home']" class="btn btn-link">Cancel</a> -->
    <!-- <a [routerLink]="['../member-session']">-->
    <!-- <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>    -->
    <!-- <a [routerLink]="['/member-session']" class="btn btn-link">Submit</a> -->

    <!-- </a>   -->
    <!-- <button class="btn btn-danger ">Leave</button> -->

    <!-- </div> -->
    <!-- </form> -->


    <!-- <p>Form value: {{ clientForm.value | json }}</p>
            <p>Form status: {{ clientForm.status | json }}</p> -->
<!-- 
            <div class="row">
                    <div class="col-sm-3 myCols">
                        <img class="img-circle" src="assets/img/carousel-1.jpg" alt="Generic placeholder image" width="140" height="140">
                            
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Downloads</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 myCols">
                            <img class="img-circle" src="assets/img/carousel-2.jpg" alt="Generic placeholder image" width="140" height="140">    
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#">Company Information</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 myCols">
                            <img class="img-circle" src="assets/img/carousel-3.jpg" alt="Generic placeholder image" width="140" height="140">    
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help desk</a></li>
                            <li><a href="#">Forums</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 myCols">
                            <img class="img-circle" src="assets/img/carousel-4.jpg" alt="Generic placeholder image" width="140" height="140">
                            
                        <h5>Legal</h5>
                        <ul>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div> -->
</body>