<!-- Fixed navbar -->
<app-nav-admin></app-nav-admin>
<!--/.nav-collapse -->
<hr>
<div class="navbar row-fluid footer-copyright ">
    <div class="pull-right index text-center text-lg text-uppercase my-0 tagline-upper text-shadow mt-5 d-none">

        Hello
        <font color="orange">{{currentAdministrator.loginAdmin}}!</font>

    </div>
</div>


<div class="row">

    <body class="col-lg-8">

        <div class="container">
            <div class="cadre">
                <div class="col-md-6 col-md-offset-1" id="form">
                    <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block"> Add Borought</h2>

                    <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">


                        <div class="form-group">
                            <label for="regionName">Select Department</label>

                            <select class="form-control" (change)="Filter($event.target.value)" formControlName="departmentNameN" name="selectD">
                        <option [ngValue]="">
                        </option>
                        <option *ngFor="let currentDepartment of departments" 
                           >{{currentDepartment.departmentName}}
                        </option>
                     </select>


                        </div>


                        <div class="form-group">

                            <input type="text" class="form-control" formControlName="boroughName" name="boroughName" id="boroughName" placeholder=" add borough name "
                            />

                            <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
                            <div class="alert" *ngIf="!clientForm.controls.boroughName.valid && clientForm.controls.boroughName.touched">{{titleAlert}}</div>

                        </div>
                        <div>
                            <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
                            <!-- <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a> -->


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </body>
    <div class="col-lg-4">
        <div class="tagline-upper text-center text-heading text-shadow mt-5 d-none ">Et comment?</div>
        <div class="aside-menu">selectionner un departement auquel vous voudriez ajouter un arrondissement , ensuite renseignez le nom de l'arrondissement
            à ajouter dans le champs suivant.
            <h4> passer un bon moment sur notre plateforme</h4>
        </div>
    </div>
</div>