<!-- Fixed navbar -->
<app-nav-admin></app-nav-admin>
<!--/.nav-collapse -->

<div class="page-header">
  <font color="black">
    <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block">Admin Rencontre Web site</h2>
  </font>
</div>

<!-- Page Content -->


<div class="row">

  <body class="col-lg-8">

    <div class="container">
      <div class="cadre">
        <div class="col-md-6 col-md-offset-1" id="form">
          <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block"> Add an meeting type</h2>

          <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">
            <div class="form-group">
              <!-- 
          <label for="meetingName">Add Meeting</label> -->


              <input type="text" class="form-control" formControlName="meetingName" name="meetingName" id="meetingName" placeholder=" add meeting name "
              />



              <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
              <div class="alert" *ngIf="!clientForm.controls.meetingName.valid && clientForm.controls.meetingName.touched">{{titleAlert}}</div>

            </div>
            <div>
              <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
              <a [routerLink]="['/login-admin']"> <button class="btn btn-danger ">Leave</button></a>


            </div>
          </form>
          <!-- <p>Form value: {{ clientForm.value | json }}</p>
                      <p>Form status: {{ clientForm.status | json }}</p>
                -->

          <!-- <h1>Hi {{administrator.loginAdmin}}!</h1> -->
          <h2>You submitted the following Meeting:</h2>


          <h3>Meeting: {{ collectionJson.meetingName }}
          </h3>

          <!-- <button class="btn btn-primary" (click)="submitted=false">Update</button> -->

          <!-- <h3>All registered Meetings:</h3>
                      <ul>
                        <li *ngFor="let currentMeeting of meetings">
                          {{currentMeeting.meetingName}}
                          <a (click)="deleteMeeting(currentMeeting.id)">Delete</a>
                        </li>
                      </ul> -->




        </div>
      </div>
    </div>
  </body>
  <div class="col-lg-4">
    <div class="tagline-upper text-center text-heading text-shadow mt-5 d-none ">HI</div>
    <div class="aside-menu"> ajouter un type de rencontre en ajoutant le nom correspondant .
    </div>
  </div>
</div>