<!-- Fixed navbar  -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
     </button>
      <a class="navbar-brand" href="/">Rencontre Diversifiées</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="active"><a class="menuLink" href="/rencotre"><span class="fa fa-home fa-fw" aria-hidden="true"></span> Home</a>
        </li>
        <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-cog"></span> About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="menuLink" href=""><span class="glyphicon glyphicon-tasks"></span> Blog</a>
        </li>
        <li><a class="menuLink" href="/login-form"><span class="fa fa-user fa-fw"></span> login</a>
        </li>
        <li><a class="menuLink" href="/member-registration"><span class="glyphicon glyphicon-tasks"></span> Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--/.nav-collapse -->

<hr>

<body>

  <hr>
  <div class="container">
    <carousel class="text-center">
      <slide>
        <img class="img-main-carousol" src="assets/img/slide-1.jpg" alt="First slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img class="img-main-carousol" src="assets/img/amour1.jpg" alt="Second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Find a true love, in our web site.</p>
        </div>
      </slide>
      <slide>
        <img class="img-main-carousol" src="assets/img/acade.jpg" alt="Third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Meet more friend make live easy.</p>
        </div>
      </slide>
      <slide>
        <img class="img-main-carousol" src="assets/img/prof.jpg" alt="Fourth slide">
        <div class="carousel-caption">
          <h3>Fourth slide label</h3>
          <p>Tell me about your expertise.</p>
        </div>
      </slide>
    </carousel>
  </div>
</body>