<!-- Fixed navbar -->
<app-nav-admin></app-nav-admin>
<!--/.nav-collapse -->
<div class="page-header">
  <font color="black">
    <h2 class="text-center text-lg text-uppercase my-0">Admin Rencontre Web site</h2>
  </font>
</div>

<!-- Page Content -->

<body>


  <div class="container-fluid">
    <div class="cadre">

      <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">
        <div class="form-group">

          <label for="statusName">Add Status</label>


          <input type="text" class="form-control" formControlName="statusName" name="statusName" id="statusName" placeholder=" add status hier "
          />



          <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
          <div class="alert" *ngIf="!clientForm.controls.statusName.valid && clientForm.controls.statusName.touched">{{titleAlert}}</div>

        </div>
        <div>
          <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
          <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


        </div>
      </form>
      <p>Form value: {{ clientForm.value | json }}</p>
      <p>Form status: {{ clientForm.status | json }}</p>


      <!-- <h1>Hi {{administrator.loginAdmin}}!</h1> -->
      <h2>You submitted the following status:</h2>


      <h3>Status: {{ collectionJson.statusName }}
      </h3>

      <button class="btn btn-primary" (click)="submitted=false">Update</button>

       <!-- <h3>All registered satuss:</h3>
      <ul>
        <li *ngFor="let currentStatus of statuss">
          {{currentStatus.statusName}}
           <a (click)="deleteStatus(currentStatus.id)">Delete</a> 
        </li>
      </ul>  -->




    </div>
  </div>
</body>