<!-- Fixed navbar -->
<div class="navbar navbar-inverset navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
       </button>
        <a class="navbar-brand" href="/">Rencontre Diversifiées</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
  
          <li class="active"><a class="menuLink" href=""><span class="glyphicon glyphicon-star-empty"></span> Home</a>
          </li>
          <li><a class="menuLink" href="/login-form"><span class="glyphicon glyphicon-compressed"></span> Login Member</a>
          </li>
          <li><a class="menuLink" href="/member-registration"><span class="glyphicon glyphicon-tasks"></span> Register</a>
          </li>
      
          <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-cog"></span> About</a>
          </li>
          <li><a class="menuLink" href="/add-region"><span class="glyphicon glyphicon-cog"></span> add Region</a>
          </li>
          <li><a class="menuLink" href="/member-session"><span class="glyphicon glyphicon-play-circle"></span> add country</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="menuLink" href="/login-form"><span class="glyphicon glyphicon-tasks"></span> logout member</a>
          </li>
          <li><a class="menuLink" href="/login-admin"><span class="glyphicon glyphicon-tasks"></span> login Admin</a>
          </li>
          <li><a class="menuLink" href="/login-admin"><span class="glyphicon glyphicon-tasks"></span> logout Admin</a>
          </li>
        </ul>
      </div>
    </div>
</div>

      <!--/.nav-collapse -->