<!-- Fixed navbar -->
<app-nav-admin></app-nav-admin>
<!--/.nav-collapse -->
<!-- <section class="section-pub clear-left">
        <div class="content-aside  col-lg-3">

            <h3 class="pub">publicité </h3>

        </div>
    </section> -->
<div class="row">

    <body class="col-lg-8">

        <div class="container">
            <div class="cadre">
                <div class="col-md-6 col-md-offset-1" id="form">
                    <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block"> Add an region</h2>
                    <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">


                        <div class="form-group">
                            <label for="regionName">Select Country</label>

                            <select [(ngModel)]="selectedCountry" class="form-control" id="noir" (change)="Filter($event.target.value)" formControlName="countryNameN"
                                name="select">
                                <option [ngValue]="">
                                </option>
                                <option *ngFor="let currentCountry of countries" 
                                >{{currentCountry.countryName}}
                                </option>
                             </select>


                        </div>
                        <!-- Update to angular 4.X.X, there is a new way to mark an option selected:
              <select [compareWith]="byId" [(ngModel)]="selectedItem">
                <option *ngFor="let item of items" [ngValue]="item">{{item.name}}
                </option>
              </select>
              
              byId(item1: ItemModel, item2: ItemModel) {
                return item1.id === item2.id;
              }  -->

                        <!-- <div class="form-group">

                    <label for="countryNameN">recuperation country</label>
                    <div class="cols-lg-8">
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="countryNameN" name="countryName" id="countryName" [formControl]="countryNameN"
                            />
                        </div>
                    </div>

                </div> -->

                        <div class="form-group">

                            <label for="regionName">Region</label>


                            <input type="text" class="form-control" formControlName="regionName" name="regionName" id="regionName" placeholder=" add Region "
                            />


                            <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
                            <div class="alert" *ngIf="!clientForm.controls.regionName.valid && clientForm.controls.regionName.touched">{{titleAlert}}</div>

                        </div>
                        <div>
                            <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
                            <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


                        </div>
                    </form>
                    <!-- <p>Form value: {{ clientForm.value | json }}</p>
                <p>Form status: {{ clientForm.status | json }}</p> -->

                    <h2>You submitted the following Region:</h2>
                    <div class="row">
                        <h3>Region:
                            <font color="red">{{ collectionJson.regionName }}</font>
                        </h3>
                    </div>

                    <!-- <button class="btn btn-primary" (click)="submitted=false">Update</button> -->


                    <!-- <div class="col-md-6 col-md-offset-3">

                <h3>All registered Regions:</h3>
                <ul>
                    <li *ngFor="let currentRegion of regions">
                        {{currentRegion.regionName}}
                        <a (click)="deleteCountry(currentCountry.id)">Delete</a>
                    </li>
                </ul>

            </div> -->

                </div>
            </div>
        </div>
    </body>
    <div class="col-lg-4">
        <div class="tagline-upper text-center text-heading text-shadow mt-5 d-none ">HI</div>
        <div class="aside-menu"> selectionner un pays auquel vous voudriez creer une region , ensuite renseignez le nom de la region.
            dans le champs suivant.
        </div>
    </div>
</div>