<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
     </button>
      <a class="navbar-brand" href="/">Rencontre Diversifiées</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li><a class="menuLink" href="/rencotre"><span class="fa fa-home fa-fw" aria-hidden="true"></span> Home</a>
        </li>
        <li class="active"><a class="menuLink" href="/about"><span class="glyphicon glyphicon-cog"></span> About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="menuLink" href=""><span class="glyphicon glyphicon-tasks"></span> Blog</a>
        </li>
        <li><a class="menuLink" href="/login-form"><span class="fa fa-user fa-fw"></span> login</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--/.nav-collapse -->
<div class="page-header">
  <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block">About Rencontre Web site</h2>
</div>

<body>
  <!-- exemple boostrap temple -->

  <div class="content">

    <p class="lead">Site de rencontres : tenter l'expérience
      Les sites de rencontres permettant de mettre en relation des célibataires en leur offrant la possibilité de créer des liens sont assez récents, et leur nombre connaît ces dernières années une croissance significative. De plus en plus de célibataires veulent enfin trouver l'amour. A mesure qu'ils se sont développés, ces-derniers se sont améliorés et peuvent constituer un réel moyen de trouver son partenaire. De plus, ils offrent la possibilité de rencontrer des personnes que l'on n’aurait sans doute pas rencontrées en temps normal, faute de temps ou de contraintes géographiques.
    </p>
    <p>
        Le système de mise en relation compatible d’eDarling repose sur son test de personnalité  scientifique établi par des psychologues et comportementalistes. Ainsi, eDarling propose à chaque membre le profil de célibataires qui lui correspond afin de faciliter au mieux la rencontre de l‘amour. La première prise de contact avec un des célibataires proposés se déroule sur internet, via messages interposés.
        
        La rencontre sur internet constitue alors un véritable révélateur de personnalité - si l'on reste sincère, bien entendu. Car derrière l'écran de son ordinateur, les enjeux ne sont pas les mêmes, la timidité n'est plus de mise et l'on a moins de mal à se confier et à se montrer tel que l'on est réellement. Bien que les échanges ne soient pas en face à face, ils permettent tout de même de créer une certaine intimité et d’approfondir la relation qui pourra alors aboutir à une rencontre physique.
    </p>
    <p>Un moyen de diversifier ses rencontres
        Lorsque l'on se trouve dans un certain contexte social, il est parfois difficile de rencontrer quelqu'un de différent, de renouveler son réseau de contacts. En cela, le site de rencontres est bénéfique : les difficultés que l’on pourrait avoir pour se rendre dans d’autres villes ou pays ainsi que les contraintes de milieux professionnels s'estompent. Sur un site de rencontres, les personnes sont alors libres de se regrouper selon leur personnalité, leurs affinités, leurs attentes, leurs points communs, etc
    </p>
    <p>Un confort certain
        Plus encore, lorsqu'on est un parent célibataire ou un professionnel surbooké, voire même les deux à la fois, il n'est pas toujours simple de trouver du temps pour faire une rencontre sérieuse. Lorsqu'il faut aller chercher le dernier à la crèche, s'occuper du dîner ou même ne pas pouvoir cuisiner soi-même parce qu'on rentre très tard du bureau, vient un temps où on aimerait se rendre la vie plus facile. On aimerait gagner du temps, aller directement à l'essentiel : avec un site de rencontres, c'est possible, surtout si l'on choisit le meilleur.
    </p>
    <p>
        L'utilisation d'un site de rencontres vous permet de rester tranquillement chez vous, tout en faisant connaissance avec les célibataires du site. Quoi de plus simple ? Essayer un site de rencontre est donc une expérience à tenter absolument !
        
        Rencontres diversifiée s'adresse aux célibataires souhaitant construire une relation amoureuse durable. Pour les aider au mieux dans la recherche d'un amour sérieux, nous garantissons un haut niveau de sécurité des données personnelles de chaque membre, ainsi qu'un paiement sécurisé lors de l'adhésion à l'abonnement Premium.
    </p>
    <hr />
    <p>Choisir Rencontres diversifiées
        Sur Rencontres diversifiée, les rencontres se font en toute sécurité. Des profils compatibles vous sont proposés, choisis selon notre algorithme de compatibilité scientifiquement élaboré. De plus, notre service client reste attentif à vos remarques et se tient à votre disposition pour toute question. N'hésitez plus, toutes les conditions sont réunies pour faire de belles rencontres. Lancez-vous !
    </p>
  </div>

</body>
<!-- Bootstrap core JavaScript =================================================Placed at the end of the document so the pages load faster -->