<!-- Fixed navbar -->
<app-nav-admin></app-nav-admin>
<!--/.nav-collapse -->
<div class="page-header">
  <font color="black">
    <h2 class="text-center text-lg text-uppercase my-0"> Ajouter une Ville</h2>
  </font>
</div>

<body>

  <!-- Page Content -->


  <div class="container-fluid">

    <div class="cadre ">
      <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">

        <div class="form-group">
          <label for="regionName">Select Borough</label>

          <select [(ngModel)]="selectedBorough" class="form-control" (change)="Filter($event.target.value)" formControlName="boroughNameN"
            name="selectB">
                        <option [ngValue]="">Select Borough
                        </option>
                        <option *ngFor="let currentBorough of boroughs" 
                           >{{currentBorough.boroughName}}
                        </option>
           </select>

        </div>



        <div class="form-group">

          <label for="townName">Ville</label>


          <input type="text" class="form-control" formControlName="townName" name="townName" id="townName" placeholder=" add town hier "
          />



          <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
          <div class="alert" *ngIf="!clientForm.controls.townName.valid && clientForm.controls.townName.touched">{{titleAlert}}</div>

        </div>
        <div>
          <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
          <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


        </div>
      </form>
      <p>Form value: {{ clientForm.value | json }}</p>
      <p>Form status: {{ clientForm.status | json }}</p>






      <h2>You submitted the following town:</h2>
      <div class="row">
        <h3>ville:
          <font color="red">{{ collectionJson.townName }}</font>
        </h3>
      </div>

      <button class="btn btn-primary" (click)="submitted=false">Update</button>





    </div>
  </div>

</body>