<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
         </button>
      <a class="navbar-brand" href="/">Rencontres Diversifiées</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li><a class="menuLink" href="/rencotre"><span class="fa fa-home fa-fw" aria-hidden="true"></span> Home</a>
        </li>
        <li class="active"><a class="menuLink" href="/admin-registration"><span class="glyphicon glyphicon-tasks"></span> New Account</a>
        </li>
        <li><a class="menuLink" href="/login-admin"><span class="fa fa-user fa-fw"></span> Login Admin</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-tasks"></span> About</a>
        </li>

      </ul>
    </div>
  </div>
</div>
<hr>
<!--/.nav-collapse -->

<!-- <div class="page-header">
  <font color="black">
    <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block"> Créer un compte</h2>
  </font>
</div> -->
<!-- Page Content -->
<div class="row">

  <body class="col-lg-8">

    <div class="container">
      <div class="cadre">
        <div class="col-md-6 col-md-offset-1" id="form">
          <h2 class="tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block"> Add an account</h2>
          <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" class="form-control" formControlName="loginAdmin" name="loginAdmin" id="loginAdmin" placeholder="login  "
                />
                <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
                <div class="alert" *ngIf="!clientForm.controls.loginAdmin.valid && clientForm.controls.loginAdmin.touched">{{titleAlert}}</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input type="text" class="form-control" formControlName="passwordAdmin" name="passwordAdmin" id="passwordAdmin" placeholder=" password "
                />
                <div class="alert" *ngIf="!clientForm.controls.loginAdmin.valid && clientForm.controls.loginAdmin.touched">{{titleAlert}}</div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
              <a [routerLink]="['/login-admin']"> <button class="btn btn-danger ">Leave</button></a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </body>
  <div class="col-lg-4">
    <div class="tagline-upper text-center text-heading text-shadow mt-5 d-none ">HI</div>
    <div class="aside-menu">Pour avoir un compte administrateur sur le site , nous vous recommandons de renseigner gratuitement votre login ainsi qu'un mot de passe avec lesquels vous connecer dorénavant en tant que telle.
    </div>
  </div>
</div>