<div class="separators">

</div>
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/3.3.7/css/font-awesome.min.css" rel="stylesheet">   -->


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="/">Rencontre Diversifiées</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="menuLink" href="/login-form"><span class="glyphicon glyphicon-compressed"></span> Login Member</a>
                </li>
                <ul class="nav navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Item</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/add-region">region</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/add-department">department</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/member-session">Add Country</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="add-borough">Add Borough</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/add-town">Add Town</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/add-meeting">Add Meeting</a>

                        </div>
                    </li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="menuLink" href="/login-admin"><span class="glyphicon glyphicon-tasks"></span> logAdmin</a>
                </li>
                <li class="active"><a class="menuLink" href="/member-registration"><span class="glyphicon glyphicon-cog"></span>New Account</a>
                </li>
                <li><a class="menuLink" href=""><span class="glyphicon glyphicon-star-empty"></span> Home</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- Header -->
<div class="page-header">
    Merci de bien vouloir vous attribuer un compte sur la plateforme de rencontre diversifiée
</div>

<body>

    <!-- Page Content -->
    <!-- <div class="container-fluid">
        <div class="container">
            <div class="cadre "> -->
    <div class="container">
        <div class="cadre">
            <div class="col-md-6 col-md-offset-3">
                <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">

                    <div class="form-group">

                        <label for="birthDate">Your age hier</label>

                        <input type="date" id="birthDate" class="date" name="birthDate" (change)="Filter($event.target.value)" formControlName="birthDate"
                            ng-model="date.value" placeholder="yyyy-MM-dd" min="1960-01-01" max="2009-12-31" />
                    </div>

                    <div class="form-group" *ngIf="clientForm.controls.birthDate.valid">
                        <label for="meetingName">Select the Meeting Name</label>
                        <select class="date" formControlName="meetingName" name="meetingName" [(ngModel)]="model.meetingName">
                                                      <option [ngValue]="">
                                                      </option>
                                                      <option *ngFor="let met of collectionJson" 
                                                         >{{met.meetingName}}
                                                      </option>
                                                   </select>


                    </div>

                    <div class="form-group">
                        <label for="pseudonym">Pseudo</label>

                        <input type="text" class="form-control" formControlName="pseudonym" name="pseudonym" id="pseudonym" placeholder=" your login hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
                        <div class="alert" *ngIf="!clientForm.controls.pseudonym.valid && clientForm.controls.pseudonym.touched">{{titleAlert}}</div>

                    </div>

                    <!-- showing only for Amicale -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Amicale' ">
                        
                    <div class="form-group">

                        <label for="name">Name</label>

                        <input type="text" class="form-control" formControlName="name" name="name" id="name" placeholder=" your name hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.name.valid|| clientForm.controls.name.pristine" class="alert alert-danger"> name is a required field</div> -->
                        <!-- <div class="alert" *ngIf="!clientForm.controls.name.valid && clientForm.controls.name.touched">your name hier</div> -->

                    </div>
                    </span>

                    <!-- showing only  for Academique and Professionnelle firstName,lastName,levelStudy; -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Academique' || clientForm.controls.meetingName.valid && model.meetingName == 'Professionnelle' ">
                        
                    <div class="form-group">

                        <label for="firstName">FirstName</label>

                        <input type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName" placeholder=" your firstName hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.firstName.valid|| clientForm.controls.firstName.pristine" class="alert alert-danger"> firstName is a required field</div> -->
                        <!-- <div class="alert" *ngIf="clientForm.controls.firstName.touched">your firstName hier</div> -->

                    </div>
                    <div class="form-group">

                        <label for="lastName">LastName</label>

                        <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName" placeholder=" your lastName hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.lastName.valid|| clientForm.controls.lastName.pristine" class="alert alert-danger"> lastName is a required field</div> -->
                        <!-- <div class="alert" *ngIf="!clientForm.controls.lastName.valid && clientForm.controls.lastName.touched">your lastName hier</div> -->

                    </div>
            
                    <!-- levelStudy -->
                    <div class="form-group">

                        <label for="levelStudy">LevelStudy</label>

                        <input type="text" class="form-control" formControlName="levelStudy" name="levelStudy" id="levelStudy" placeholder=" your levelStudy hier "
                        />
                        <!-- <div class="alert" *ngIf="!clientForm.controls.levelStudy.valid && clientForm.controls.levelStudy.touched">your levelStudy hier</div> -->

                    </div>
                    </span>
                    <!-- showing only for Academique -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Academique' ">
                    
                    <div class="form-group">
                        
                          <label for="schoolName">SchoolName</label>
                        
                           <input type="text" class="form-control" formControlName="schoolName" name="schoolName" id="schoolName" placeholder=" your schoolName hier "
                           />
                            <!-- <div class="alert" *ngIf="!clientForm.controls.schoolName.valid && clientForm.controls.schoolName.touched">your schoolName hier</div> -->
                        
                    </div>
                   </span>

                    <!-- showing only for profession -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Professionnelle' ">
                        
                    <div class="form-group">

                        <label for="profession">Profession</label>

                        <input type="text" class="form-control" formControlName="profession" name="profession" id="profession" placeholder=" your profession hier "
                        />
                        <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                    </div>
                   </span>

                    <!-- showing when selected Amoureuse meeting name  fatherName,motherName,country,region,department,borough,town et concession -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Amoureuse' ">
                    <div class="form-group">

                        <label for="fatherName">Amoureuse</label>

                        <input type="text" class="form-control" formControlName="fatherName" name="fatherName" id="fatherName" placeholder=" your fatherName hier "
                        />
                        <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                    </div>
                    <!-- mother -->
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="motherName" name="motherName" id="motherName" placeholder=" your motherName hier "
                        />
                        <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                    </div>
                    <!-- country -->
                    <div class="form-group">
                        <label for="regionName">Select Country</label>
                        <span class="date ">
                        <select [(ngModel)]="selectedCountry" class="form-control" (change)="FilterC($event.target.value)" formControlName="countryName" name="select">
                                    <option [ngValue]="">
                                    </option>
                                    <option *ngFor="let currentCountry of countries" 
                                    >{{currentCountry.countryName}}
                                    </option>
                                 </select>

                        </span>
            </div>

            <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
            <!-- <div class="alert" *ngIf="!clientForm.controls.countryName.valid && clientForm.controls.countryName.touched">{{titleAlert}}</div> -->

            <!-- region -->
            <div class="form-group">
                <label for="meetingName">Select the RegionName</label>
                <span class="date">
                        <select [(ngModel)]="selectedRegion" class="form-control" (change)="FilterR($event.target.value)" formControlName="regionName" name="selectR">
                                <option [ngValue]="">Select Region
                                </option>
                                <option *ngFor="let currentRegion of regions" 
                                   >{{currentRegion.regionName}}
                                </option>
                             </select>
                            </span>

            </div>
            <!-- departmant -->
            <div class="form-group">
                <label for="meetingName">Select the DEpartement Name</label>
                <span class="date">
                <select [(ngModel)]="selectedDepartment" class="form-control" (change)="FilterD($event.target.value)" formControlName="departmentName"
                    name="selectD">
                                <option [ngValue]="">Select Department
                                </option>
                                <option *ngFor="let currentDepartment of departments" 
                                   >{{currentDepartment.departmentName}}
                                </option>
                             </select>
                </span>


            </div>
            <!-- borough -->

            <div class="form-group">
                <label for="meetingName">Select the Borough Name</label>
                <span class="date">
                    <select [(ngModel)]="selectedBorough" class="form-control" (change)="FilterB($event.target.value)" formControlName="boroughName"
                        name="selectB">
                                            <option [ngValue]="">Select Borough
                                            </option>
                                            <option *ngFor="let currentBorough of boroughs" 
                                            >{{currentBorough.boroughName}}
                                            </option>
                    </select>
                </span>


            </div>

            <!-- Town -->

            <div class="form-group">
                <label for="meetingName">Select the Town Name</label>
                <span class="date">
                <select [(ngModel)]="selectedTown" class="form-control" (change)="FilterT($event.target.value)" formControlName="townName"
                    name="townName">
                                        <option [ngValue]="">Select Town
                                        </option>
                                        <option *ngFor="let currentTown of townNames" 
                                           >{{currentTown.TownName}}
                                        </option>
                                     </select>
                </span>

            </div>

            <div class="form-group">

                <label for="concessionName">Concession</label>

                <input type="text" class="form-control" formControlName="concessionName" name="concessionName" id="concessionName" placeholder=" your concession hier "
                />
                <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

            </div>
            </span>
            <!-- collectionJson?.length != 2" -->
            <div class="form-group">
                <label for="gender">choice your gender</label>

                <select class="form-control" id="gender" name="gender" formControlName="gender">
                              <option>Man</option>
                              <option>Woman</option>
                              
                            </select>

            </div>
            <div class="form-group" *ngIf="clientForm.controls.meetingName.valid ">
                <label for="email">Email</label>

                <input type="email" class="form-control" formControlName="emailAdress" name="emailAdress" id="emailAdress" placeholder=" "
                />

            </div>

            <div class="form-group">
                <label for="tel">Phone Nomber</label>

                <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder=" "
                />

            </div>

            <div class="form-group">
                <label for="password">PassWord</label>

                <input type="password" class="form-control" formControlName="password" name="password" id="password" placeholder=" " />

            </div>
            <div class="form-group">
                <label for="confirmPassword">confirm the passWord</label>

                <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword"
                    placeholder=" ">

            </div>
            <div class="form-group">
                <label for="picture">Example file input</label>
                <input type="file" formControlName="customerPicture" id="picture" #customerPicture>
            </div>




            <div>
                <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
                <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


            </div>
            </form>
            <p>Form value: {{ clientForm.value | json }}</p>
            <p>Form status: {{ clientForm.status | json }}</p>
        </div>

    </div>

    </div>
</body>
<!-- <div class="clear-both"></div>
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>suivre d'autres sites de rencontre profesionnelles, académique ou amoureuse</h2>
            </div>
            <div class="col-lg-6 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="/login-admin" class="btn btn-secondary btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-secondary btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                    </ul>
            </div>
        </div>

    </div> -->
<!-- /.container -->

<!-- </aside> -->


<!-- /.banner -->