<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
               </button>
                <a class="navbar-brand" href="/">Rencontres Diversifiées</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
    
                    <li><a class="menuLink" href="/rencotre"><span class="fa fa-home fa-fw" aria-hidden="true"></span> Home</a>
                    </li>
                    <li class="active" ><a class="menuLink" href="/member-registration"><span class="glyphicon glyphicon-tasks"></span> New Account</a>
                    </li>
                    <li><a class="menuLink" href="/login-form"><span class="fa fa-user fa-fw"></span> Login Member</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
    
                    <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-tasks"></span> About</a>
                    </li>
    
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <!--/.nav-collapse -->
<div class="page-header">
    <!-- <font color="orange">
        <h3 class="text-center text-lg text-uppercase my-0"> Merci de bien vouloir vous attribuer un compte sur la plateforme de rencontre diversifiée

        </h3>
    </font> -->
    <font color="black">
    <div class="tagline-upper col-lg-8 text-heading text-shadow mt-5 d-none d-lg-block">Creer un compte</div>
    </font>
    <div class="tagline-lower col-lg-8 text-expanded text-shadow text-uppercase text-black mb-5 d-none d-lg-block">Amicale | Académique | Amoureuse | Professionnelle</div>
<hr>
</div>
<hr>

<div class="row">

    <!-- <body class="col-sm-8 col-sm-offset-2"> -->

    <body class="col-lg-8">
        <div class="container-fluid">
            <div class="cadre">

                <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">

                    <div class="form-group">
                        <label for="choix">Do you already have an Account on our website?</label>

                        <select class="form-control" formControlName="choix" [(ngModel)]="model.choix" (change)="FilterChoix($event.target.value)"
                            name="choix">
                                            <option [ngValue]="">
                                            </option>
                                            <option>Yes</option>
                                            <option>No</option>
                                </select>

                    </div>
                    <!-- pseudo -->
                    <span *ngIf="(clientForm.controls.choix.valid && model.choix == 'oui' && !clientForm.controls.birthDate1.valid && !clientForm.controls.pseudonym.valid) || (!clientForm.controls.meetingName.valid && model.choix == 'oui')">
                        <div class="form-group">
                                <label for="pseudonym1">choice an pseudo</label>
                               
                                    <select class="form-control" formControlName="pseudonym1" [(ngModel)]="model.peudonym" (change)="FilterS($event.target.value)" name="pseudonym1">
                                                <option [ngValue]="">
                                                </option>
                                                <option *ngFor="let currentMember of members" 
                                                >{{currentMember.pseudonym}}
                                                </option>
                                    </select>
                                    <div class="alert1" *ngIf="!clientForm.controls.pseudonym1.valid && clientForm.controls.pseudonym.touched"> {{titleAlert}}</div>
                                    
                        </div>
                </span>
                    <span *ngIf="(clientForm.controls.choix.valid && model.choix == 'non' && !clientForm.controls.birthDate1.valid && (!clientForm.controls.pseudonym1.valid || model.pseudonym1 == 'non')) || clientForm.controls.meetingName.valid">
                                            
                        <div class="form-group">
                            <label for="pseudonym">Pseudo</label>
        
                            <input type="text" class="form-control" formControlName="pseudonym"  [(ngModel)]="model.pseudonym" (change)="FilterS($event.target.value)" name="pseudonym" id="pseudonym" placeholder=" your login hier "
                             />
                            <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
                            <div class="alert1" *ngIf="!clientForm.controls.pseudonym.valid && clientForm.controls.pseudonym.touched"> {{titleAlert}}</div>
        
                        </div>
                    </span>

                    <!-- age  -->
                    <span *ngIf="clientForm.controls.choix.valid && (clientForm.controls.pseudonym.valid || clientForm.controls.pseudonym1.valid)">
                        
                <div class="form-group">

                    <label for="birthDate">Birthdate</label>

                    <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="model.birthDate" (change)="Filter($event.target.value)"
                        formControlName="birthDate" placeholder="yyyy-MM-dd" min="1960-01-01" max="2009-12-31" />

                </div>
                </span>

                    <!-- <span *ngIf="(clientForm.controls.choix.valid && model.choix == 'oui'  && !clientForm.controls.birthDate1.valid) || (!clientForm.controls.meetingName.valid && model.choix == 'oui')">
                    <div class="form-group">
                            <label for="birthDate1">déja un membre? choisissez votre age</label>
                           
                                <select class="form-control" formControlName="birthDate1" [(ngModel)]="model.birthDate" (change)="Filter($event.target.value)" name="birthDate1">
                                            <option [ngValue]="">
                                            </option>
                                            <option *ngFor="let currentMember of members" 
                                            >{{currentMember.birthDate}}
                                            </option>
                                </select>
                            
                    </div>
            </span> -->
                    <span *ngIf="clientForm.controls.birthDate.valid">
                <div class="form-group">
                    <label for="meetingName">Select the Meeting Name</label>
                    <select class="form-control" formControlName="meetingName" name="meetingName" [(ngModel)]="model.meetingName" (change)="FilterM($event.target.value)">
                            <option [ngValue]="">
                            </option>
                            <option *ngFor="let met of collectionJson" 
                              >{{met.meetingName}}
                            </option>
                        </select>


                </div>
            </span>

                    <!-- showing only for Amicale -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Amicale' ">
                        
                    <div class="form-group">

                        <label for="name">Name</label>

                        <input type="text" class="form-control" formControlName="name" [(ngModel)]="model.name" name="name" id="name" placeholder=" your name hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.name.valid|| clientForm.controls.name.pristine" class="alert alert-danger"> name is a required field</div> -->
                        <!-- <div class="alert" *ngIf="!clientForm.controls.name.valid && clientForm.controls.name.touched">your name hier</div> -->

                    </div>
                </span>

                    <!-- showing only  for Academique and Professionnelle firstName,lastName,levelStudy; -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Academique' || clientForm.controls.meetingName.valid && model.meetingName == 'Professionnelle' ">
                        
                    <div class="form-group">

                        <label for="firstName">FirstName</label>

                        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="model.firstName" name="firstName" id="firstName" placeholder=" your firstName hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.firstName.valid|| clientForm.controls.firstName.pristine" class="alert alert-danger"> firstName is a required field</div> -->
                        <!-- <div class="alert" *ngIf="clientForm.controls.firstName.touched">your firstName hier</div> -->

                    </div>
                    <div class="form-group">

                        <label for="lastName">LastName</label>

                        <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="model.lastName" name="lastName" id="lastName" placeholder=" your lastName hier "
                        />
                        <!-- <div [hidden]="clientForm.controls.lastName.valid|| clientForm.controls.lastName.pristine" class="alert alert-danger"> lastName is a required field</div> -->
                        <!-- <div class="alert" *ngIf="!clientForm.controls.lastName.valid && clientForm.controls.lastName.touched">your lastName hier</div> -->

                    </div>
            
                    <!-- levelStudy -->
                    <div class="form-group">

                        <label for="levelStudy">LevelStudy</label>

                        <input type="text" class="form-control" formControlName="levelStudy" [(ngModel)]="model.levelStudy" name="levelStudy" id="levelStudy" placeholder=" your levelStudy hier "
                        />
                        <!-- <div class="alert" *ngIf="!clientForm.controls.levelStudy.valid && clientForm.controls.levelStudy.touched">your levelStudy hier</div> -->

                    </div>
                </span>
                    <!-- showing only for Academique -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Academique' ">
                    
                    <div class="form-group">
                        
                          <label for="schoolName">SchoolName</label>
                        
                           <input type="text" class="form-control" formControlName="schoolName" [(ngModel)]="model.schoolName" name="schoolName" id="schoolName" placeholder=" your schoolName hier "
                           />
                            <!-- <div class="alert" *ngIf="!clientForm.controls.schoolName.valid && clientForm.controls.schoolName.touched">your schoolName hier</div> -->
                        
                    </div>
                </span>

                    <!-- showing only for profession -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Professionnelle' ">
                        
                    <div class="form-group">

                        <label for="profession">Profession</label>

                        <input type="text" class="form-control" formControlName="profession" [(ngModel)]="model.profession" name="profession" id="profession" placeholder=" your profession hier "
                        />
                        <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                    </div>
                </span>



                    <!-- showing when selected Amoureuse meeting name  fatherName,motherName,country,region,department,borough,town et concession -->
                    <span *ngIf="clientForm.controls.meetingName.valid && model.meetingName == 'Amoureuse' ">
                        <div class="form-group">

                            <input type="text" class="form-control" formControlName="fatherName" [(ngModel)]="model.fatherName" name="fatherName" id="fatherName" placeholder=" your fatherName hier "
                            />
                            <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                        </div>
                        <!-- mother -->
                        <div class="form-group">

                            <input type="text" class="form-control" formControlName="motherName" [(ngModel)]="model.motherName" name="motherName" id="motherName" placeholder=" your motherName hier "
                            />
                            <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                        </div>
                        <!-- country -->
                        <div class="form-group">
                            <label for="countryName">Select Country</label>
                           
                                <select class="form-control" (change)="FilterC($event.target.value)" formControlName="countryName" [(ngModel)]="model.countryName" name="countryName">
                                            <option [ngValue]="">
                                            </option>
                                            <option *ngFor="let currentCountry of countries" 
                                            >{{currentCountry.countryName}}
                                            </option>
                                </select>
                            



                        </div>


            
                        <!-- region -->
                        <div class="form-group">
                            <label for="regionName">Select the RegionName</label>

                            <select class="form-control" (change)="FilterR($event.target.value)" formControlName="regionName" [(ngModel)]="model.regionName" name="regionName">
                                                <option [ngValue]="">
                                                </option>
                                                <option *ngFor="let currentRegion of regions" 
                                                >{{currentRegion.regionName}}
                                                </option>
                                        </select>


                        </div>
                        <!-- departmant -->
                        <div class="form-group">
                            <label for="departmentName">Select the Departement Name</label>

                            <select class="form-control" (change)="FilterD($event.target.value)" formControlName="departmentName" [(ngModel)]="model.departmentName" name="departmentName">
                                        <option [ngValue]="">
                                        </option>
                                        <option *ngFor="let currentDepartment of departments" 
                                                >{{currentDepartment.departmentName}}
                                        </option>
                            </select>

                        </div>
                        <!-- borough -->

                        <div class="form-group">
                            <label for="boroughgName">Select the Borough Name</label>

                            <select class="form-control" (change)="FilterB($event.target.value)" formControlName="boroughName" [(ngModel)]="model.boroughName" name="boroughName">
                                        <option [ngValue]="">
                                        </option>
                                        <option *ngFor="let currentBorough of boroughs" 
                                        >{{currentBorough.boroughName}}
                                        </option>
                                    </select>

                        </div>

                        <!-- Town -->

                        <div class="form-group">
                            <label for="townName">Select the Town Name</label>

                            <input type="text" class="form-control" formControlName="townName" [(ngModel)]="model.townName" name="townName" id="townName" placeholder=" your townn hier "
                            />

                        </div>

                        <div class="form-group">

                            <label for="concessionName">Concession</label>

                            <input type="text" class="form-control" formControlName="concessionName" [(ngModel)]="model.concessionName" name="concessionName" id="concessionName" placeholder=" your concession hier "
                            />
                            <!-- <div class="alert" *ngIf="!clientForm.controls.profession.valid && clientForm.controls.profession.touched">your profession hier</div> -->

                        </div>
                    
                </span>
                    <!-- collectionJson?.length != 2" -->
                    <!-- <span *ngIf="((model.confirmPassword == '') || !(model.password == model.confirmPassword) && (!clientForm.controls.pseudonym.valid)) "> -->
                    <span *ngIf="(clientForm.controls.choix.valid && (model.choix == 'non')) ">
                                
                    <div class="form-group">
                        <label for="gender">choice your gender</label>

                        <select class="form-control" id="gender" name="gender"[(ngModel)]="model.gender"  formControlName="gender">
                                <option>Man</option>
                                <option>Woman</option>
                                
                        </select>

                    </div>
                    
                        <label for="email">Email</label>

                        <input type="email" class="form-control" [(ngModel)]="model.emailAdress" formControlName="emailAdress" name="emailAdress" id="emailAdress" placeholder=" "
                        />

                

                    <div class="form-group">
                        <label for="tel">Phone Nomber</label>

                        <input type="text" class="form-control" [(ngModel)]="model.phoneNumber" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder=" "
                        />

                    </div>

                    <div class="form-group">
                        <label for="password">PassWord</label>

                        <input type="password" class="form-control" [(ngModel)]="model.password" formControlName="password" name="password" id="password"
                            placeholder=" " />

                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">confirm the passWord</label>

                        <input [(ngModel)]="model.confirmPassword" type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword"
                            id="confirmPassword" placeholder=" ">
                        <div class="alert1" *ngIf="clientForm.controls.confirmPassword.valid && clientForm.controls.password.valid && model.password != model.confirmPassword"
                            id="errorPassword"> {{titleAlertP}}
                        </div>
                    </div>
                </span>
                    <!-- *ngIf="!clientForm.controls.pseudonym.valid && clientForm.controls.pseudonym.touched" -->
                    <div class="form-group">
                        <label for="picture">Example file input</label>
                        <input type="file" formControlName="customerPicture" id="picture" #customerPicture>
                    </div>




                    <div>

                        <button class="btn btn-primary " type="submit" [disabled]="((model.gender == '' || model.phoneNumber == '' || model.emailAdress == '' || model.password == '' || model.confirmPassword == '') && (model.choix == 'non')) || (model.gender != '' && model.phoneNumber != '' && model.emailAdress != '' && model.password!= '' && model.confirmPassword != '' && model.password != model.confirmPassword) || (!clientForm.controls.meetingName.valid)">Submit</button>

                        <!-- <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid && model.password != model.confirmPassword">Submit</button>  -->

                        <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


                    </div>
                </form>
                <!-- <p>Form value: {{ clientForm.value | json }}</p>
                <p>Form status: {{ clientForm.status | json }}</p> -->

            </div>

        </div>
    </body>
    <div class="col-lg-4">
        <div class="tagline-upper text-center text-heading text-shadow mt-5 d-none ">HI</div>
        <div class="aside-menu">Seulement quelque cliques et vous êtes inscrit sur notre platefomr pour profiter de plus de fonctionnalité
            <h4> passer un bon moment sur notre plateforme</h4>
        </div>
    </div>
</div>
<!-- <div class="clear-both"></div>
<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>suivre d'autres sites de rencontre profesionnelles, académique ou amoureuse</h2>
            </div>
            <div class="col-lg-6 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="/login-admin" class="btn btn-secondary btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                </li>
                </ul>
        </div>
    </div>

    </div>
    /.container -->

<!-- </aside> -->


<!-- /.banner -->