<!-- Fixed navbar -->
<app-nav-admin></app-nav-admin>
<!--/.nav-collapse -->

<div class="page-header">
    <font color="black">
        <h2 class="text-center text-lg text-uppercase my-0"> Ajouter une Department</h2>
    </font>
</div>
<!-- Page Content -->

<body>

    <div class="container-fluid">
        <div class="container">


            <div class="cadre ">
                <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">

                        <div class="form-group">
                                <label for="regionName">Select Region</label>
        
                        <select [(ngModel)]="selectedRegion" class="form-control" (change)="Filter($event.target.value)" formControlName="regionNameN"
                            name="selectR">
                        <option [ngValue]="">
                        </option>
                        <option *ngFor="let currentRegion of regions" 
                           >{{currentRegion.regionName}}
                        </option>
                     </select>


                    </div>
                    <!-- Update to angular 4.X.X, there is a new way to mark an option selected:
              <select [compareWith]="byId" [(ngModel)]="selectedItem">
                <option *ngFor="let item of items" [ngValue]="item">{{item.name}}
                </option>
              </select>
              
              byId(item1: ItemModel, item2: ItemModel) {
                return item1.id === item2.id;
              }  -->

                    <!-- <div class="form-group">

                    <label for="countryNameN">recuperation country</label>
                    <div class="cols-lg-8">
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="countryNameN" name="countryName" id="countryName" [formControl]="countryNameN"
                            />
                        </div>
                    </div>

                </div> -->

                    <div class="form-group">

                        <label for="departmentName">Department</label>


                        <input type="text" class="form-control" formControlName="departmentName" name="departmentName" id="departmentName" placeholder=" add department hier "
                        />



                        <!-- <div [hidden]="clientForm.controls.pseudonym.valid|| clientForm.controls.pseudonym.pristine" class="alert alert-danger"> Pseudo is a required field</div> -->
                        <div class="alert" *ngIf="!clientForm.controls.departmentName.valid && clientForm.controls.departmentName.touched">{{titleAlert}}</div>

                    </div>
                    <div>
                        <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
                        <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


                    </div>
                </form>
                <p>Form value: {{ clientForm.value | json }}</p>
                <p>Form status: {{ clientForm.status | json }}</p>


                <h2>You submitted the following department:</h2>
                <div class="row">
                    <h3>department:
                        <font color="red">{{ collectionJson.departmentName }}</font>
                    </h3>
                </div>

                <button class="btn btn-primary" (click)="submitted=false">Update</button>




                <h3>All registered Regions:</h3>
                <ul>
                    <li *ngFor="let currentRegion of regions">
                        {{currentRegion.regionName}}
                        <!-- <a (click)="deleteCountry(currentCountry.id)">Delete</a> -->
                    </li>
                </ul>



            </div>
        </div>
    </div>
</body>