<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rencontres Diversifiées</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="active"><a class="menuLink" href=""><span class="glyphicon glyphicon-star-empty"></span> Home</a>
        </li>
        <li><a class="menuLink" href="/about"><span class="glyphicon glyphicon-cog"></span> About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="menuLink" href=""><span class="glyphicon glyphicon-tasks"></span> Blog</a>
        </li>
        <li><a class="menuLink" href="/login-form"><span class="glyphicon glyphicon-tasks"></span> logout member</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <h4 class="pull-right index">
      <font color="white">Welcome </font><span class="statusName">{{currentMember.pseudonym}}! </span></h4>
    <h4 class="pull-left index">

      <select class="statusName" (change)="Filter($event.target.value)" id="statusName" name="statusName">
                    
                    <option *ngFor="let currentStatus of statuss" 
                    > {{currentStatus.statusName}}
                    </option>
                </select>

    </h4>

  </div>
</div>


<!--/.nav-collapse -->



<hr>

<body>

  <div class="container">
    <carousel class="text-center">
      <slide>
        <img class="img-main-carousol" src="assets/img/slide-1.jpg" alt="First slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img class="img-main-carousol" src="assets/img/amour1.jpg" alt="Second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Find a true love, in our web site.</p>
        </div>
      </slide>
      <slide>
        <img class="img-main-carousol" src="assets/img/acade.jpg" alt="Third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Meet more friend make live easy.</p>
        </div>
      </slide>
      <slide>
        <img class="img-main-carousol" src="assets/img/prof.jpg" alt="Fourth slide">
        <div class="carousel-caption">
          <h3>Fourth slide label</h3>
          <p>Tell me about your expertise.</p>
        </div>
      </slide>
    </carousel>

    <!-- <div class="col-lg-2">
          <form id="qform" class="navbar-form pull-left" role="search">
              <input type="text" class="form-control" placeholder="Search" />
            </form>
      </div> -->
  </div>




  <!-- /.container -->

</body>