<div class="separators">

</div>
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/3.3.7/css/font-awesome.min.css" rel="stylesheet">   -->


<!-- Fixed navbar -->

<!-- <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul> -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
      <a class="navbar-brand" href="/">Rencontres Diversifiées</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="menuLink" href="/login-form"><span class="glyphicon glyphicon-compressed"></span> Login Member</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Item</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/add-region">region</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/add-department">department</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/member-session">Add Country</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="add-borough">Add Borough</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/add-town">Add Town</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/add-meeting">Add Meeting</a>

          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a class="menuLink" href="/member-register1"><span class="glyphicon glyphicon-star-empty"></span> Register </a>
        </li>
        <li><a class="menuLink" href="/login-admin"><span class="glyphicon glyphicon-tasks"></span> login Admin</a>
        </li>

        <li><a class="menuLink" href="/login-form"><span class="glyphicon glyphicon-compressed"></span> Login Member</a>
        </li>

        <li><a class="menuLink" href=""><span class="glyphicon glyphicon-star-empty"></span> Home</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- Header -->
<div class="page-header">
  Merci de bien vouloir vous attribuer un compte sur la plateforme de rencontre diversifiée
</div>


<body>

  <!-- Page Content -->
  <!-- <div class="container-fluid">
            <div class="container">
                <div class="cadre "> -->
  <div class="container">
    <div class="cadre">
      <div class="col-md-6 col-md-offset-3">
        <form (ngSubmit)="onSubmit(clientForm.value)" [formGroup]="clientForm" id="clientForm">
          <div class="form-group">

            <label for="date">Your age hier</label>

            <input type="date" id="date" class="date" name="date" (change)="Filter($event.target.value)" formControlName="date" ng-model="date.value"
              placeholder="yyyy-MM-dd" min="1960-01-01" max="2009-12-31" />
          </div>

          <div class="form-group" class="alert" *ngIf="clientForm.controls.date.valid">
            <label for="meetingName">Select the Meeting Name</label>
            <select [(ngModel)]="selectedMeeting" class="date" formControlName="meetingNameN"
              name="meetingName">
                      <option [ngValue]="">
                      </option>
                      <option *ngFor="let met of collectionJson" 
                         >{{met.meetingName}}
                      </option>
                   </select>


          </div>

          <div>
            <button class="btn btn-primary " type="submit" [disabled]="!clientForm.valid">Submit</button>
            <a [routerLink]="['/login-form']"> <button class="btn btn-danger ">Leave</button></a>


          </div>

        </form>
        <p>Form value: {{ clientForm.value | json }}</p>
        <p>Form status: {{ clientForm.status | json }}</p>
      </div>

    </div>


  </div>
</body>
<!-- <div class="clear-both"></div>
<aside class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2>suivre d'autres sites de rencontre profesionnelles, académique ou amoureuse</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="/login-admin" class="btn btn-secondary btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">Github</span>
                            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
                                <i class="fa fa-linkedin fa-fw"></i>
                                <span class="network-name">Linkedin</span>
                            </a>
          </li>
        </ul>
      </div>
    </div>

  </div> -->
<!-- /.container -->

<!-- </aside> -->

<!-- /.banner -->